* {
    font-family: 'Architects Daughter', cursive;
}

body {
    margin: 0;
}

#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.4em;
}

table {
    border-collapse: collapse;
    border: black 2px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 600px;
    font-size: 1.2em;
}

th, td {
    padding: 10px;
}

th {
    background-color: #BDC3C7;
}

#form {
    background-color: #BDC3C7;
    border: black 2px solid;
    border-radius: 10px;
    height : 100px;
    padding: 20px;
    margin-top: 30px;
}

#form p {
    font-size: 1.4em;
    text-align: left;
    margin: 0;
}

#inputArea {
    text-align: left;
    margin-top: 20px;
}

input, button {
    font-size: 1.3em;
    border-radius: 10px;
}

button {
    background-color: cornflowerblue;
    color: white;
    width: 120px;
    border: black 2px solid;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(67, 101, 163);
}

.actionButton a {
    color: rgb(0, 0, 0);
}

.actionButton a:hover {
    color:cornflowerblue;
}

.tasks {
    text-align: left;
}

table tr:nth-child(odd){
    background-color:rgb(252, 235, 216);
  }

  table tr:nth-child(even){
    background-color:rgb(255, 248, 241);
  }